<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/brainscan.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> DEEPHACK </h3>
    <ul>
      <li> Machine Learning </li>
      <li> Artificial Consciousness </li>
      <li> Soulbinding </li>
    </ul>
    <p>This was an endeavor in using artificial intelligence to surgically remove or disable a metaphysical construct from a live object without damaging the physical construct, thereby converting living entities into automata</p>
    <a class="project-link" href="/warning">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/peoplenet.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> SWAY </h3>
    <ul>
      <li> Computational Psychology </li>
      <li> Bodynets </li>
      <li> Multi Collapse Programming </li>
    </ul>
    <p>An ongoing scientific study to observe the correlation of extradimensional multicollapse on physical construct compliance. I serve as associate director of this project</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/ctc.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> AROUND </h3>
    <ul>
      <li> Closed Timelike Curves </li>
      <li> Loop-Causality </li>
      <li> Conduit </li>
    </ul>
    <p>An project which uses closed timelike curves to engineer loop causal futures for business and political insights. This is my first project which uses conduit technology. </p>
    <a class="project-link" href="/warning">Check it out</a>
  </div>
</div>